.top {
    display: flex;                  /* establish flex container */
    flex-direction: row;            /* default value; can be omitted */
    flex-wrap: nowrap;              /* default value; can be omitted */
    justify-content: space-between; /* switched from default (flex-start, see below) */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 999;
    background: #2196F3;
}


.topMenu {
    display: flex;                  
    flex-direction: row;           
    flex-wrap: nowrap;              
    justify-content: flex-start;
}

.topMenu .button, .topMenu div {
    float: left;
    min-width: 56px;
    height: 48px;
    font-size: 17px;
    text-align: center;
    line-height: 48px;		
}

.topMenu div.complex {
    height: 80px;
    text-align: left; 
    line-height: 20px;   
}

.topMenu .button {
    color: white;	
}

.sideMenu .topMenu:hover {
    background: #F0F0F0;
}

.sideMenu .topMenu.selected {
    background: #2196F3;
    color: white;
}

.sideMenu .topMenu.selected:hover {
    background: #41a5f5;
    color: white;
}


.topMenu .button:hover{
    background: #41a5f5;
}


.topMenu .button.title {
    background: transparent;
}
.topMenu .button.title:hover {
    background: transparent;
}


.topMenu .button.delete {
    background: #FF5252;
}
.topMenu .button.delete:hover {
    background: #ff7474;
}

