/* The side navigation menu */
.sideMenu {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: hidden;
    padding-top: 48px;  /*Place content 48px from the top */
    transition: 0.3s; /* 0.5 second transition effect to slide in the sidenav */

}


.sideMenu a {
    padding: 0;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s
}

.sideMenu a:hover, .offcanvas a:focus{
    color: #111;
}

.sideMenu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sideMenu {padding-top: 15px;}
    .sideMenu a {font-size: 18px;}
}